<!doctype html>
<html lang="en">
	<head>
		<title>Weathers</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse bg-dark">
 			<div class="container">
				 <a class="navbar-brand" href="#"><h1>Weathers</h1></a>
			 </div>
		</nav>
		<br>
		<section class="container">
			<form action="">
				<div class="form-group">
					<label for="search_weather">Search Weather</label>
					<input type="text" name="get weather" id="search_weather" class="form-control" placeholder="enter location" aria-describedby="searchWeather">
				</div>
			</form>
			<h2 class="location">{{ location }}</h2>
			<aside>
				<span id="temperature">{{weather.temperature}}</span> 
				<span id="apparentTemperature">{{weather.apparentTemperature}}</span>
				<span id="summary">{{weather.summary}}</span>
				<span id="hourlySummary">{{weather.hourlySummary}}</span>
			</aside>
		</section>
		<div ng-app="">App</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script><script 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="../node_modules/angular/angular.min.js"></script>
		<script src="search-weather.js"></script>
	</body>
</html>